# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
# import libraries

import pandas as pd

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
# import dataset

pokemon = pd.read_csv('pokemon.csv')

#### Print first 10 rows of `pokemon`.

In [3]:
print(pokemon.head(10))

   #                       Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1                  Bulbasaur  Grass  Poison    318  45      49       49
1  2                    Ivysaur  Grass  Poison    405  60      62       63
2  3                   Venusaur  Grass  Poison    525  80      82       83
3  3      VenusaurMega Venusaur  Grass  Poison    625  80     100      123
4  4                 Charmander   Fire     NaN    309  39      52       43
5  5                 Charmeleon   Fire     NaN    405  58      64       58
6  6                  Charizard   Fire  Flying    534  78      84       78
7  6  CharizardMega Charizard X   Fire  Dragon    634  78     130      111
8  6  CharizardMega Charizard Y   Fire  Flying    634  78     104       78
9  7                   Squirtle  Water     NaN    314  44      48       65

   Sp. Atk  Sp. Def  Speed  Generation  Legendary
0       65       65     45           1      False
1       80       80     60           1      False
2      100      100     80           1      False
3      122      120     80           1      False
4       60       50     65           1      False
5       80       65     80           1      False
6      109       85    100           1      False
7      130       85    100           1      False
8      159      115    100           1      False
9       50       64     43           1      False

In [4]:
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [5]:
# Extract all values from the "Type 1" and "Type 2" columns
type1_values = pokemon['Type 1'].unique()
type2_values = pokemon['Type 2'].unique()

# Combine unique values from both columns into a single set using the "|" operator
distinct_values = set(type1_values) | set(type2_values)

# Convert the set into a list 
distinct_values_list = list(distinct_values)

# Print the list of distinct values
print(distinct_values_list)

['Grass', nan, 'Normal', 'Psychic', 'Electric', 'Ghost', 'Fire', 'Flying', 'Fairy', 'Steel', 'Water', 'Ice', 'Rock', 'Dark', 'Poison', 'Fighting', 'Dragon', 'Ground', 'Bug']

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [6]:
pokemon['Name'] = pokemon['Name'].str.replace(r'([A-Za-z]+)Mega', 'Mega', regex=True)

# test transformed data
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` divided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [8]:
pokemon['A/D Ratio'] = pokemon['Attack'] / pokemon['Defense']

# Round the values in the "A/D Ratio" column to two decimal places
pokemon['A/D Ratio'] = pokemon['A/D Ratio'].round(2)
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.00
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.98
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.99
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.81
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.21

#### Identify the pokemon with the highest `A/D Ratio`.

In [9]:
highest_ad_ratio_pokemon = pokemon[pokemon['A/D Ratio'] == pokemon['A/D Ratio'].max()]
highest_ad_ratio_pokemon["Name"]

429    DeoxysAttack Forme
Name: Name, dtype: object

#### Identify the pokemon with the lowest A/D Ratio.

In [10]:
lowest_ad_ratio_pokemon = pokemon[pokemon['A/D Ratio'] == pokemon['A/D Ratio'].min()]
lowest_ad_ratio_pokemon["Name"]

230    Shuckle
Name: Name, dtype: object

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [11]:
# Create a new column "Combo Type"
pokemon['Combo Type'] = pokemon['Type 1']  # Initialize with Type 1 values

# Update "Combo Type" based on Type 2 values
pokemon.loc[~pokemon['Type 2'].isna(), 'Combo Type'] = pokemon['Type 1'] + '-' + pokemon['Type 2']

# Display the Pokemon DataFrame with the "Combo Type" column
print(pokemon[['Name', 'Combo Type']])

                    Name     Combo Type
0              Bulbasaur   Grass-Poison
1                Ivysaur   Grass-Poison
2               Venusaur   Grass-Poison
3          Mega Venusaur   Grass-Poison
4             Charmander           Fire
..                   ...            ...
795              Diancie     Rock-Fairy
796         Mega Diancie     Rock-Fairy
797  HoopaHoopa Confined  Psychic-Ghost
798   HoopaHoopa Unbound   Psychic-Dark
799            Volcanion     Fire-Water

[800 rows x 2 columns]

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [12]:
top_5_ad_ratio = pokemon.nlargest(5, 'A/D Ratio')
top_5_ad_ratio

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.00,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.50,Water-Dark
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.75,Bug-Poison
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.12,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.00,Water-Dark

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [13]:
distinct_combo_types = top_5_ad_ratio['Combo Type'].unique()
distinct_combo_types

array(['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock'], dtype=object)

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

In [14]:
# Step 1: Initialize a dictionary to store mean scores for each Combo Type
combo_type_means_all_pokemon = {}

# Step 2: Calculate mean scores for each numeric field for each Combo Type
for combo_type in distinct_combo_types:
    combo_type_data = pokemon[pokemon['Combo Type'] == combo_type]
    mean_scores = combo_type_data.mean(numeric_only=True)
    combo_type_means_all_pokemon[combo_type] = mean_scores

# Step 3: Display the unique Combo Types and their mean scores for all Pokémon
for combo_type, mean_scores in combo_type_means_all_pokemon.items():
    print(f"Combo Type: {combo_type}")
    print(mean_scores)
    print("\n")

Combo Type: Psychic
#             381.973684
Total         464.552632
HP             72.552632
Attack         64.947368
Defense        67.236842
Sp. Atk        98.552632
Sp. Def        82.394737
Speed          78.868421
Generation      3.342105
Legendary       0.236842
A/D Ratio       1.164211
dtype: float64


Combo Type: Water-Dark
#             347.666667
Total         493.833333
HP             69.166667
Attack        120.000000
Defense        65.166667
Sp. Atk        88.833333
Sp. Def        63.500000
Speed          87.166667
Generation      3.166667
Legendary       0.000000
A/D Ratio       2.291667
dtype: float64


Combo Type: Bug-Poison
#             199.166667
Total         347.916667
HP             53.750000
Attack         68.333333
Defense        58.083333
Sp. Atk        42.500000
Sp. Def        59.333333
Speed          65.916667
Generation      2.333333
Legendary       0.000000
A/D Ratio       1.315833
dtype: float64


Combo Type: Rock
#             410.111111
Total         409.444444
HP             67.111111
Attack        103.333333
Defense       107.222222
Sp. Atk        40.555556
Sp. Def        58.333333
Speed          32.888889
Generation      3.888889
Legendary       0.111111
A/D Ratio       1.258889
dtype: float64